{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": "warn",
    "no-plusplus": [ "error", { "allowForLoopAfterthoughts": true }],
    "no-console": [ "warn", { "allow": [ "time", "timeEnd" ]}]
  }
}
